<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GeoNamesUserName" value="ngeo" />
    <add key="GeoPlanetAppId" value="IQ8qmdzV34Fym0.ZGgLAT2e0t0ZR.IL9seudXbNvocaGxOgk34gtQpa7uWPDStsaWgvco5rW8Lo-" />
    <add key="PlaceFinderConsumerKey" value="PlaceFinderConsumerKey" />
    <add key="PlaceFinderConsumerSecret" value="PlaceFinderConsumerSecret" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="NGeoBinding" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NGeoBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://api.geonames.org" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.GeoNames.IInvokeGeoNamesServices" behaviorConfiguration="NGeoBehavior" />
      <endpoint address="http://where.yahooapis.com/v1" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.Yahoo.GeoPlanet.IInvokeGeoPlanetServices" behaviorConfiguration="NGeoBehavior" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>